<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/favicon.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img alt="dragon image" src="./img/dragon.jpg" class="portrait">
    </div>
    {{>footer}}
</body>

</html>